@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}




    <!--IZQUIERDA-->
    <div class="container ">
        <div class="col-md-6 position-absolute top-50 start-0 "  >
            <div class="col-md-6 position-absolute start-50 translate-middle " >
               
<div class="text-center">
 <a href="create.html" style="text-decoration-line: none;">
    <img src="~/img/mas.png" class="card-img w-50 p-3 " alt="..."  >
    <style>
        img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
    </style>
     <h1 style="color: #250941;">Crear nuevo evento</h1>
</a>
</div>


<div style="margin-block-start: 150px; ">
<h3>Eventos creados</h3>
<ul style="margin-block-start: 30px; ">
    <li>Evento 1</li>
    <li>Evento 2</li>
    <li>Evento 3</li>
    <li>Evento 4</li>
</ul>
</div>

    </div>
    </div>
    </div>





       <!--DERECHA-->
    <div class="container ">
        <div class="col-md-6 position-absolute top-0 end-0 bottom-0 "  >

    <div class="card text-bg-dark " style="width:fit-content;">

        <img src="~/img/landing.jpg" class="card-img" alt="..." id="tarjeta" >
    
        <div class="card-img-overlay text-center ">
          
        
            <div class="col-md-6 position-absolute top-50 start-50  translate-middle">

           
          <!--h5 class="card-title">Card title</h5-->
          <p class="card-text">Si estas invitado a una reunion</p>
          <div class="input-group mb-3">
            <!--span class="input-group-text bg-dark" id="basic-addon1"> <img src="img/candado.png" height="30px" width="60px" alt="..."  ></span-->
            <input type="text" class="form-control" placeholder="Ingresa la clave" aria-label="clave" aria-describedby="basic-addon1">
          </div>
         

        


          <div class="d-grid gap-2 col-6 mx-auto d-md-block text-center" >
            <button class="btn " type="button" style="margin: 8px;"  id="boton">REGISTRO</button>
            <button class="btn" type="button" style="margin: 8px;"  id="boton">ENTRAR</button> 
            
            <small>Si ya estas registrado</small> 
          <a href="login.html"class="text-white ">LogIn</a>
          </div>
        </div>

        </div>
      </div>


    </div>
    </div>

